* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-image: url("weather-background.jpeg");
  background-size: cover;
  background-position: top center;
}

.app-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6)
  ); */
}

header {
  display: flex;
  justify-content: center;
  padding: 50px 15px 15px;
}

header input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px 3px 16px 3px;
  color: #313131;
  border-bottom: 3px solid #df8e00;
  font-size: 20px;
  font-weight: 300;
  transition: 0.2s ease-out;
}

header input:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

main {
  flex: 1 1 100%;
  padding: 25px 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.location .city {
  color: #fff;
  font-size: 32px;
  font-weight: medium;
  margin-bottom: 5px;
}

.location .date {
  color: #fff;
  font-size: 16px;
}

.current .temp {
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 4px rgba(0, 0, 0, 0.5);
}

.current .temp span {
  font-weight: 500;
}

.current .weather {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  text-transform: capitalize;
}

.current .hi-low {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.4);
}

.component__forecast-box {
  display: flex;
  clear: both;
}

.forecast__item {
  flex: 1;
  text-align: center;
  padding: 5px;
  margin: 5px;
  min-width: 140px;
  max-width: 140px;
  min-height: 188px;
  max-height: 188px;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px 3px 16px 3px;
  color: #313131;
  border-bottom: 3px solid #313131;
}

.forecast-item__heading {
  background: #313131;
  border: 1px solid #d64826;
  border-left: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  padding: 10px;
}

.forecast-item__info {
  background: #fff;
  color: #313131;
  padding-bottom: 10px;
  /* border-right: 1px solid #d64826; */
}

.forecast-item__info .wi {
  display: block;
  margin: 0 auto;
  font-size: 24px;
  padding: 15px 0;
}

.forecast-item__info .degrees {
  font-size: 20px;
  line-height: 20px;
}

.forecast-item__info .degrees .wi-degrees {
  display: inline;
}

.forecast-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 65%;
  margin-top: 50px;
}
